* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  font-family: 'Courier New', Courier, monospace;    
}

.card {
  position: relative;
  padding: 40px;
  min-width: 300px;  
  max-width: 380px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  font-weight: bolder;
}

.properties-1 {
  background-color: rgb(213, 136, 167);
  background: linear-gradient(90deg,rgba(255,185,148),   
  rgb(156, 88, 88)86%)  
}

.properties-2 {
  background-color: rgba(115, 215, 255);
  background: linear-gradient(90deg,rgba(115, 215, 255),   
  rgb(88, 114, 156)86%);  
}

.properties-3 {
  background-color: rgba(0, 255, 240);
  background: linear-gradient(90deg,rgba(0, 255, 240),   
  rgb(11, 129, 112)86%);  
}

.text-1 {
  font-size: 15px;
}
.text-2 {
  font-size: 30px;
  margin: 20px 0 50px;
}
.text-3 {
  font-size: 12px;
}

.img-properties {
  position: absolute;
  width: 30px;
  top: 40px;
  right: 40px;
}



.card::before,
.card::after {
  content: '';
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: rgb(255,255,255);
  opacity: 0.2;
}

.card::before { 
  top: -50px;
  right: -130px;
}

.card::after {
  bottom: -130px;
  right: -30px;
}


